.day-container {
    cursor: pointer;
    margin: 10px 0;
    background-color: white;
    width: 100%;
    /* min-width:100px; */
    height: 190px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.active {
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color:  aqua;
}
.day-container p {
    margin: 5px;
    font-weight: 600;
}
.day-des p {
    font-size: 24px;
    font-weight: bold;
    opacity: 0.7;
}

.forecast-des {
    background-color: white;
    margin: 20px 1px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}